.dommer-compliance
{
    font-size: 11pt;
}

.dommer-compliance-critical
{
    color: red;
}
.dommer-compliance-high
{
    color: orangered;
}
.dommer-compliance-warning
{
    color: darkgoldenrod;
}
.dommer-compliance-low
{
    color: #d1be15;
}
.dommer-compliance-info
{
    color: darkcyan;
}
.dommer-compliance-ok
{
    color: green;
}
.dommer-compliance-error {
    color: grey;
}

.dommer-compliance-na{
    color: grey;
}


.dommer-compliance-critical-border
{
    border-color: red !important;
}
.dommer-compliance-high-border
{
    border-color: orangered !important;
}
.dommer-compliance-warning-border
{
    border-color: darkgoldenrod !important;
}
.dommer-compliance-low-border
{
    border-color: #d1be15 !important;
}
.dommer-compliance-info-border
{
    border-color: darkcyan !important;
}
.dommer-compliance-ok-border
{
    border-color: green !important;
}
.dommer-compliance-error-border {
    border-color: grey !important
}

td span{display:block; text-align:center; margin:0 auto;}



.dommer-heat-critical
{
    background-color: rgb(237, 155, 155);
}
.dommer-heat-high
{
    background-color: rgb(242, 182, 161);
}
.dommer-heat-warning
{
    background-color: rgb(235, 219, 179);
}
.dommer-heat-info
{
    background-color: rgb(41, 208, 208);
}
.dommer-heat-ok
{
    background-color: #def5e7;
}
.dommer-heat-low
{
    background-color: wheat;
}
.dommer-heat-error {
    background-color: rgb(214, 212, 212)
}

.dommer-heat-na{
    background-color: rgba(255, 255, 255, 0.644);
}

@media print {
    .dommer-compliance:after, .dommer-compliance:before
    {
        font-size: 11pt;
    }
    .dommer-compliance-critical:after, .dommer-compliance-critical:before
    {
        color: red !important;
    }
    .dommer-compliance-high:after, .dommer-compliance-high:before
    {
        color: orangered !important;
    }
    .dommer-compliance-warning:after, .dommer-compliance-warning:before
    {
        color: darkgoldenrod !important;
    }
    .dommer-compliance-low:after, .dommer-compliance-low:before
    {
        color: #d1be15 !important;
    }
    .dommer-compliance-info:after, .dommer-compliance-info:before
    {
        color: darkcyan !important;
    }
    .dommer-compliance-ok:after, .dommer-compliance-ok:before
    {
        color: green !important;
    }
    .dommer-compliance-error:after, .dommer-compliance-error:before
     {
        color: grey !important;
    }
    .dommer-compliance-critical-border:after,.dommer-compliance-critical-border:before
    {
        border-color: red !important;
    }
    .dommer-compliance-high-border:after,.dommer-compliance-high-border:before
    {
        border-color: orangered !important;
    }

    .dommer-compliance-warning-border:after,.dommer-compliance-warning-border:before
    {
        border-color: darkgoldenrod !important;
    }
    .dommer-compliance-low-border:after,.dommer-compliance-low-border:before
    {
        border-color: #d1be15 !important;
    }
    .dommer-compliance-info-border:after,.dommer-compliance-info-border:before
    {
        border-color: darkcyan !important;
    }
    .dommer-compliance-ok-border:after,.dommer-compliance-ok-border:before
    {
        border-color: green !important;
    }
    .dommer-compliance-error-border:after,.dommer-compliance-error-border:before
    {
        border-color: grey !important
    }
    .dommer-heat-critical:after,.dommer-heat-critical:before
    {
        background-color: rgb(237, 155, 155) !important;
    }
    .dommer-heat-high:after,.dommer-heat-high:before
    {
        background-color: rgb(242, 182, 161) !important;
    }
    .dommer-heat-warning:after,.dommer-heat-warning:before
    {
        background-color: rgb(235, 219, 179) !important;
    }
    .dommer-heat-info:after,.dommer-heat-info:before
    {
        background-color: rgb(41, 208, 208) !important;
    }
    .dommer-heat-ok:after,.dommer-heat-ok:before
    {
        background-color: #def5e7 !important;
    }
    .dommer-heat-low:after,.dommer-heat-low:before
    {
        background-color: wheat !important;
    }
    .dommer-heat-error:after,.dommer-heat-error:before
    {
        background-color: rgb(214, 212, 212) !important;
    }
}
