<sidenav [orientation]="orientation" [ngClass]="getClasses()">


  <!-- Inner -->
  <div class="sidenav-inner d-flex align-items-end flex-column bd-highlight"
    style="background-color:#be2a61; font: Regular 15px/19px Source Sans Pro;"
    [ngClass]="{ 'py-1': orientation !== 'horizontal' }">
    <sidenav-router-link icon="ion-md-home" route="/" [active]="isActive('/')" title="Home">Home</sidenav-router-link>


    <sidenav-menu icon="fas fa-upload" class="bg-light mb-1" [class.isCollapsed]="isCollapsed()" text="Cadastrar" [active]="isMenuActive('/reports')"
      [open]="isMenuOpen('/reports')" title="Cadastrar">

      <sidenav-router-link icon="fas fa-users" route="/cadastrar-premiado"
        [active]="isActive('/cadastrar-premiado')" title="Cadastrar Premiado">Premiado
      </sidenav-router-link>

      <sidenav-router-link icon="far fa-credit-card" route="/cadastrar-cartao" [active]="isActive('/cadastrar-cartao')" title="Cadastrar Cartão">Cartão
      </sidenav-router-link>

      <sidenav-router-link icon="far fa-building" route="/cadastrar-empresa" [active]="isActive('/cadastrar-empresa')" title="Cadastrar Empresa">Empresa
      </sidenav-router-link>
      
    </sidenav-menu>

    <!-- <sidenav-menu icon="fas fa-chart-pie" class="bg-light mb-1" [class.isCollapsed]="isCollapsed()" text="Graficos" [active]="isMenuActive('/scorecard')"
      [open]="isMenuOpen('/scorecard')" title="Graficos">

      <sidenav-router-link icon="far fa-file" route="/scorecard/summary"
        [active]="isActive('/scorecard/summary')" title="Resumo">Resumo
      </sidenav-router-link>

      <sidenav-router-link icon="fas fa-file-signature" route="/scorecard/detail"
      [active]="isActive('/scorecard/detail')" title="Detalhes">Detalhes
    </sidenav-router-link>


      <sidenav-router-link icon="fas fa-history" route="/scorecard/historic" [active]="isActive('/scorecard/historic')" title="Histórico">Histórico
      </sidenav-router-link>

    </sidenav-menu> -->

  </div>
</sidenav>